In [2]:
import pandas as pd

In [3]:
# ouverture du fichier cvs
data = pd.read_csv('data\\train.csv')
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

6019 lignes et 13 colonnes

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  New_Price          824 non-null    object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 611.4+ KB

In [5]:
data.shape

(6019, 13)

- Colonne 'New_Price' a beaucoup de valeurs manquantes

In [6]:
# VÃ©rification des doublons
data.duplicated().sum()

np.int64(0)

- pas de doublons dans les valeurs

In [ ]:
# Colonne Name
print('Colonne Name : \n')
print('Doublons : ', data['Name'].duplicated().sum())

print('Name : ', data['Name'].value_counts(), '\n')
data['Name'].sort_values().unique().tolist()

Colonne Name :

Doublons :  4143
Name :  Name
Mahindra XUV500 W8 2WD                        49
Maruti Swift VDI                              45
Honda City 1.5 S MT                           34
Maruti Swift Dzire VDI                        34
Maruti Swift VDI BSIV                         31
                                              ..
Hyundai i20 2015-2017 Magna                    1
Tata Indica LEI                                1
Mercedes-Benz GLA Class 200 Sport              1
Skoda Rapid Ultima 1.6 TDI Elegance            1
Mercedes-Benz New C-Class C 200 AVANTGARDE     1
Name: count, Length: 1876, dtype: int64

['Ambassador Classic Nova Diesel',
 'Audi A3 35 TDI Attraction',
 'Audi A3 35 TDI Premium',
 'Audi A3 35 TDI Premium Plus',
 'Audi A3 35 TDI Technology',
 'Audi A4 1.8 TFSI',
 'Audi A4 1.8 TFSI Technology Edition',
 'Audi A4 2.0 TDI',
 'Audi A4 2.0 TDI 177 Bhp Premium Plus',
 'Audi A4 2.0 TDI 177 Bhp Technology Edition',
 'Audi A4 2.0 TDI Celebration Edition',
 'Audi A4 2.0 TDI Multitronic',
 'Audi A4 2.0 TDI Premium Sport Limited Edition',
 'Audi A4 2.0 TFSI',
 'Audi A4 3.0 TDI Quattro',
 'Audi A4 3.0 TDI Quattro Premium',
 'Audi A4 3.2 FSI Tiptronic Quattro',
 'Audi A4 30 TFSI Premium Plus',
 'Audi A4 35 TDI Premium',
 'Audi A4 35 TDI Premium Plus',
 'Audi A4 35 TDI Premium Sport',
 'Audi A4 35 TDI Technology',
 'Audi A4 35 TDI Technology Edition',
 'Audi A4 New 2.0 TDI Multitronic',
 'Audi A6 2.0 TDI Design Edition',
 'Audi A6 2.7 TDI',
 'Audi A6 2.8 FSI',
 'Audi A6 2011-2015 2.0 TDI',
 'Audi A6 2011-2015 2.0 TDI Premium Plus',
 'Audi A6 2011-2015 2.0 TDI Technology',
 'Audi A6 2011-2015 3.0 TDI Quattro Premium Plus',
 'Audi A6 2011-2015 35 TDI Premium',
 'Audi A6 2011-2015 35 TDI Technology',
 'Audi A6 2011-2015 35 TFSI Technology',
 'Audi A6 3.0 TDI quattro',
 'Audi A6 35 TDI Matrix',
 'Audi A6 35 TFSI Matrix',
 'Audi A7 2011-2015 3.0 TDI Quattro',
 'Audi A7 2011-2015 Sportback',
 'Audi A8 L 3.0 TDI quattro',
 'Audi Q3 2.0 TDI',
 'Audi Q3 2.0 TDI Quattro',
 'Audi Q3 2012-2015 2.0 TDI Quattro Premium Plus',
 'Audi Q3 2012-2015 35 TDI Quattro Premium',
 'Audi Q3 2012-2015 35 TDI Quattro Premium Plus',
 'Audi Q3 30 TDI Premium FWD',
 'Audi Q3 35 TDI Quattro Premium',
 'Audi Q3 35 TDI Quattro Premium Plus',
 'Audi Q5 2.0 TDI',
 'Audi Q5 2.0 TDI Premium Plus',
 'Audi Q5 2.0 TDI Technology',
 'Audi Q5 2008-2012 2.0 TDI',
 'Audi Q5 2008-2012 2.0 TFSI Quattro',
 'Audi Q5 2008-2012 3.0 TDI',
 'Audi Q5 3.0 TDI Quattro',
 'Audi Q5 3.0 TDI Quattro Technology',
 'Audi Q5 30 TDI quattro Premium',
 'Audi Q5 30 TDI quattro Premium Plus',
 'Audi Q7 3.0 TDI Quattro Premium Plus',
 'Audi Q7 3.0 TDI Quattro Technology',
 'Audi Q7 3.0 TDI quattro',
 'Audi Q7 35 TDI Quattro Premium Plus',
 'Audi Q7 35 TDI Quattro Technology',
 'Audi Q7 4.2 FSI quattro',
 'Audi Q7 4.2 TDI Quattro Technology',
 'Audi Q7 45 TDI Quattro Premium Plus',
 'Audi Q7 45 TDI Quattro Technology',
 'Audi RS5 Coupe',
 'Audi TT 2.0 TFSI',
 'Audi TT 40 TFSI',
 'BMW 1 Series 118d Base',
 'BMW 1 Series 118d Sport Line',
 'BMW 3 Series 2005-2011 325i Sedan',
 'BMW 3 Series 318i Sedan',
 'BMW 3 Series 320d',
 'BMW 3 Series 320d Corporate Edition',
 'BMW 3 Series 320d Dynamic',
 'BMW 3 Series 320d GT Luxury Line',
 'BMW 3 Series 320d Highline',
 'BMW 3 Series 320d Luxury Line',
 'BMW 3 Series 320d Luxury Plus',
 'BMW 3 Series 320d M Sport',
 'BMW 3 Series 320d Prestige',
 'BMW 3 Series 320d Sedan',
 'BMW 3 Series 320d Sport',
 'BMW 3 Series 320d Sport Line',
 'BMW 3 Series 320i',
 'BMW 3 Series 320i Sedan',
 'BMW 3 Series 328i Sport Line',
 'BMW 3 Series 330 Ci Convertible',
 'BMW 3 Series 330d Convertible',
 'BMW 3 Series 330i',
 'BMW 3 Series GT 320d Luxury Line',
 'BMW 3 Series Luxury Line',
 'BMW 3 Series Sport',
 'BMW 5 Series 2003-2012 520d',
 'BMW 5 Series 2003-2012 523i',
 'BMW 5 Series 2003-2012 525d',
 'BMW 5 Series 2003-2012 530d',
 'BMW 5 Series 2003-2012 530d Highline',
 'BMW 5 Series 2003-2012 540i Sedan',
 'BMW 5 Series 2003-2012 GT 530d LE',
 'BMW 5 Series 2007-2010 525d Sedan',
 'BMW 5 Series 2010-2013 525i',
 'BMW 5 Series 2010-2013 530d',
 'BMW 5 Series 2013-2017 520d Luxury Line',
 'BMW 5 Series 2013-2017 520d M Sport',
 'BMW 5 Series 2013-2017 525d Luxury Line',
 'BMW 5 Series 2013-2017 530d M Sport',
 'BMW 5 Series 520d Luxury Line',
 'BMW 5 Series 520d Sedan',
 'BMW 5 Series 520d Sport Line',
 'BMW 5 Series 523i Sedan',
 'BMW 5 Series 525d Sedan',
 'BMW 5 Series 530d Highline Sedan',
 'BMW 5 Series 530d M Sport',
 'BMW 5 Series 530i Sedan',
 'BMW 6 Series 630i Coupe',
 'BMW 6 Series 640d Coupe',
 'BMW 6 Series 640d Gran Coupe',
 'BMW 6 Series 650i Coupe',
 'BMW 6 Series Gran Coupe',
 'BMW 7 Series 2007-2012 730Ld',
 'BMW 7 Series 2007-2012 740Li',
 'BMW 7 Series 2007-2012 750Li',
 'BMW 7 Series 730Ld',
 'BMW 7 Series 730Ld Design Pure Excellence CBU',
 'BMW 7 Series 730Ld Eminence',
 'BMW 7 Series 730Ld Sedan',
 'BMW 7 Series 740Li',
 'BMW X1 M Sport sDrive 20d',
 'BMW X1 sDrive 18i',
 'BMW X1 sDrive 20d Exclusive',
 'BMW X1 sDrive 20d Sportline',
 'BMW X1 sDrive 20d xLine',
 'BMW X1 sDrive20d',
 'BMW X1 xDrive 20d M Sport',
 'BMW X1 xDrive 20d xLine',
 'BMW X3 xDrive 20d Expedition',
 'BMW X3 xDrive 20d Luxury Line',
 'BMW X3 xDrive 20d xLine',
 'BMW X3 xDrive20d',
 'BMW X3 xDrive20d Advantage Edition',
 'BMW X3 xDrive20d Expedition',
 'BMW X3 xDrive20d xLine',
 'BMW X3 xDrive30d M Sport',
 'BMW X5 2014-2019 xDrive 30d Design Pure Experience 7 Seater',
 'BMW X5 3.0d',
 'BMW X5 X5 M',
 'BMW X5 xDrive 30d',
 'BMW X5 xDrive 30d Design Pure Experience 5 Seater',
 'BMW X5 xDrive 30d M Sport',
 'BMW X6 xDrive 40d',
 'BMW X6 xDrive 40d M Sport',
 'BMW X6 xDrive30d',
 'BMW Z4 2009-2013 35i',
 'BMW Z4 2009-2013 Roadster 2.5i',
 'Bentley Continental Flying Spur',
 'Chevrolet Aveo 1.4',
 'Chevrolet Aveo 1.4 LS',
 'Chevrolet Aveo 1.4 LT',
 'Chevrolet Aveo 1.4 LT ABS BSIV',
 'Chevrolet Aveo 1.6 LT',
 'Chevrolet Aveo U-VA 1.2 LS',
 'Chevrolet Aveo U-VA 1.2 LT',
 'Chevrolet Beat Diesel',
 'Chevrolet Beat Diesel LS',
 'Chevrolet Beat Diesel LT',
 'Chevrolet Beat Diesel PS',
 'Chevrolet Beat LS',
 'Chevrolet Beat LT',
 'Chevrolet Beat LT Option',
 'Chevrolet Beat Option Pack',
 'Chevrolet Captiva LT',
 'Chevrolet Captiva LTZ VCDi',
 'Chevrolet Cruze LTZ',
 'Chevrolet Cruze LTZ AT',
 'Chevrolet Enjoy 1.3 TCDi LS 8',
 'Chevrolet Enjoy 1.3 TCDi LTZ 8',
 'Chevrolet Enjoy 1.4 LS 8',
 'Chevrolet Enjoy Petrol LS 7 Seater',
 'Chevrolet Enjoy TCDi LS 8 Seater',
 'Chevrolet Enjoy TCDi LTZ 7 Seater',
 'Chevrolet Optra 1.6 Elite',
 'Chevrolet Optra 1.6 LS',
 'Chevrolet Optra 1.6 LT Royale',
 'Chevrolet Optra Magnum 1.6 LS BS3',
 'Chevrolet Optra Magnum 1.6 LS Petrol',
 'Chevrolet Optra Magnum 1.6 LT ABS BS3',
 'Chevrolet Optra Magnum 2.0 LS BSIII',
 'Chevrolet Optra Magnum 2.0 LT',
 'Chevrolet Optra Magnum 2.0 LT BS3',
 'Chevrolet Sail 1.2 LS',
 'Chevrolet Sail Hatchback 1.2 LS',
 'Chevrolet Sail Hatchback 1.2 LS ABS',
 'Chevrolet Sail Hatchback LS ABS',
 'Chevrolet Sail LT ABS',
 'Chevrolet Spark 1.0 LS',
 'Chevrolet Spark 1.0 LT',
 'Chevrolet Tavera LS B3 10 Seats BSIII',
 'Chevrolet Tavera LT 9 Str BS IV',
 'Datsun GO NXT',
 'Datsun GO Plus A',
 'Datsun GO Plus T',
 'Datsun GO Plus T Petrol',
 'Datsun GO T Option',
 'Datsun Redi GO Sport',
 'Datsun redi-GO S',
 'Datsun redi-GO T',
 'Datsun redi-GO T Option',
 'Fiat Avventura MULTIJET Emotion',
 'Fiat Grande Punto 1.2 Dynamic',
 'Fiat Grande Punto 1.3 Emotion (Diesel)',
 'Fiat Grande Punto 1.3 Emotion Pack (Diesel)',
 'Fiat Grande Punto 1.4 Emotion',
 'Fiat Grande Punto EVO 1.3 Active',
 'Fiat Linea 1.3 Dynamic',
 'Fiat Linea 1.3 Emotion',
 'Fiat Linea Classic Plus 1.3 Multijet',
 'Fiat Linea Emotion',
 'Fiat Linea Emotion (Diesel)',
 'Fiat Linea Emotion Pack (Diesel)',
 'Fiat Linea T Jet',
 'Fiat Linea T-Jet Active',
 'Fiat Petra 1.2 EL',
 'Fiat Punto 1.2 Dynamic',
 'Fiat Punto 1.3 Emotion',
 'Fiat Punto 1.4 Emotion',
 'Fiat Punto EVO 1.2 Emotion',
 'Fiat Siena 1.2 ELX',
 'Force One LX 4x4',
 'Force One LX ABS 7 Seating',
 'Ford Aspire Ambiente Diesel',
 'Ford Aspire Titanium Diesel',
 'Ford Aspire Titanium Plus Diesel',
 'Ford Classic 1.4 Duratorq Titanium',
 'Ford EcoSport 1.0 Ecoboost Titanium Plus',
 'Ford EcoSport 1.0 Ecoboost Titanium Plus BE',
 'Ford EcoSport 1.5 Diesel Titanium',
 'Ford EcoSport 1.5 Diesel Titanium Plus',
 'Ford EcoSport 1.5 Diesel Trend',
 'Ford EcoSport 1.5 Petrol Titanium',
 'Ford EcoSport 1.5 Petrol Titanium Plus AT',
 'Ford EcoSport 1.5 Petrol Trend',
 'Ford EcoSport 1.5 TDCi Ambiente',
 'Ford EcoSport 1.5 TDCi Titanium',
 'Ford EcoSport 1.5 TDCi Trend',
 'Ford EcoSport 1.5 TDCi Trend Plus',
 'Ford EcoSport 1.5 TDCi Trend Plus BE',
 'Ford EcoSport 1.5 Ti VCT AT Titanium',
 'Ford EcoSport 1.5 Ti VCT AT Titanium BE',
 'Ford EcoSport 1.5 Ti VCT MT Signature',
 'Ford EcoSport 1.5 Ti VCT MT Titanium',
 'Ford EcoSport 1.5 Ti VCT MT Titanium BE',
 'Ford Ecosport 1.0 Ecoboost Platinum Edition',
 'Ford Ecosport 1.0 Ecoboost Titanium',
 'Ford Ecosport 1.5 DV5 MT Ambiente',
 'Ford Ecosport 1.5 DV5 MT Titanium',
 'Ford Ecosport 1.5 DV5 MT Titanium Optional',
 'Ford Ecosport 1.5 DV5 MT Trend',
 'Ford Ecosport 1.5 Ti VCT AT Titanium',
 'Ford Ecosport 1.5 Ti VCT MT Titanium',
 'Ford Ecosport 1.5 Ti VCT MT Trend',
 'Ford Ecosport Signature Edition Diesel',
 'Ford Endeavour 2.2 Titanium AT 4X2',
 'Ford Endeavour 2.2 Trend AT 4X2',
 'Ford Endeavour 2.2 Trend MT 4X4',
 'Ford Endeavour 2.5L 4X2',
 'Ford Endeavour 2.5L 4X2 MT',
 'Ford Endeavour 3.0L 4X4 AT',
 'Ford Endeavour 3.2 Titanium AT 4X4',
 'Ford Endeavour 3.2 Trend AT 4X4',
 'Ford Endeavour 4x2 XLT',
 'Ford Endeavour 4x2 XLT Limited Edition',
 'Ford Endeavour Hurricane LE',
 'Ford Endeavour Hurricane Limited Edition',
 'Ford Endeavour Titanium 4X2',
 'Ford Endeavour XLT TDCi 4X2',
 'Ford Endeavour XLT TDCi 4X4',
 'Ford Fiesta 1.4 Duratec EXI',
 'Ford Fiesta 1.4 Duratec EXI Limited Edition',
 'Ford Fiesta 1.4 Duratec ZXI',
 'Ford Fiesta 1.4 Duratorq EXI',
 'Ford Fiesta 1.4 Duratorq ZXI',
 'Ford Fiesta 1.4 SXi TDCi',
 'Ford Fiesta 1.4 SXi TDCi ABS',
 'Ford Fiesta 1.4 TDCi EXI',
 'Ford Fiesta 1.4 TDCi EXI Limited Edition',
 'Ford Fiesta 1.4 ZXi Duratec',
 'Ford Fiesta 1.4 ZXi Leather',
 'Ford Fiesta 1.4 ZXi TDCi ABS',
 'Ford Fiesta 1.5 TDCi Titanium',
 'Ford Fiesta 1.6 SXI ABS Duratec',
 'Ford Fiesta 1.6 ZXI Duratec',
 'Ford Fiesta 1.6 ZXi ABS',
 'Ford Fiesta 1.6 ZXi Duratec',
 'Ford Fiesta 1.6 ZXi Leather',
 'Ford Fiesta Classic 1.4 Duratorq CLXI',
 'Ford Fiesta Classic 1.4 Duratorq LXI',
 'Ford Fiesta Diesel Style',
 'Ford Fiesta Diesel Titanium Plus',
 'Ford Fiesta Diesel Trend',
 'Ford Fiesta EXi 1.4 TDCi Ltd',
 'Ford Fiesta Titanium 1.5 TDCi',
 'Ford Figo 1.2P Titanium MT',
 'Ford Figo 1.5D Titanium Plus MT',
 'Ford Figo 1.5D Trend MT',
 'Ford Figo 2015-2019 1.2P Sports Edition MT',
 'Ford Figo 2015-2019 1.2P Titanium MT',
 'Ford Figo 2015-2019 1.2P Titanium Opt MT',
 'Ford Figo 2015-2019 1.2P Trend MT',
 'Ford Figo 2015-2019 1.5D Ambiente MT',
 'Ford Figo 2015-2019 1.5D Titanium MT',
 'Ford Figo 2015-2019 1.5D Titanium Plus MT',
 'Ford Figo 2015-2019 1.5D Trend MT',
 'Ford Figo 2015-2019 1.5P Titanium AT',
 'Ford Figo Aspire 1.2 Ti-VCT Ambiente',
 'Ford Figo Aspire 1.2 Ti-VCT Titanium',
 'Ford Figo Aspire 1.2 Ti-VCT Trend',
 'Ford Figo Aspire 1.5 TDCi Ambiente',
 'Ford Figo Aspire 1.5 TDCi Titanium',
 'Ford Figo Aspire 1.5 TDCi Titanium Plus',
 'Ford Figo Aspire 1.5 TDCi Trend',
 'Ford Figo Aspire 1.5 Ti-VCT Titanium',
 'Ford Figo Diesel',
 'Ford Figo Diesel Celebration Edition',
 'Ford Figo Diesel EXI',
 'Ford Figo Diesel EXI Option',
 'Ford Figo Diesel LXI',
 'Ford Figo Diesel Titanium',
 'Ford Figo Diesel ZXI',
 'Ford Figo Petrol EXI',
 'Ford Figo Petrol LXI',
 'Ford Figo Petrol Titanium',
 'Ford Figo Petrol ZXI',
 'Ford Figo Titanium Diesel',
 'Ford Freestyle Titanium Petrol',
 'Ford Freestyle Titanium Plus Petrol',
 'Ford Fusion Plus 1.4 TDCi Diesel',
 'Ford Ikon 1.3 CLXi',
 'Ford Ikon 1.3 Flair',
 'Ford Ikon 1.3 LXi NXt',
 'Ford Ikon 1.4 TDCi DuraTorq',
 'Ford Ikon 1.6 CLXI',
 'Ford Ikon 1.6 ZXI NXt',
 'Ford Mustang V8',
 'Honda Accord 2.4 A/T',
 'Honda Accord 2.4 AT',
 'Honda Accord 2.4 Elegance A/T',
 'Honda Accord 2.4 Elegance M/T',
 'Honda Accord 2.4 Inspire M/T',
 'Honda Accord 2.4 M/T',
 'Honda Accord 2.4 MT',
 'Honda Accord 2001-2003 2.0 AT',
 'Honda Accord 2001-2003 2.3 VTi L AT',
 'Honda Accord V6 AT',
 'Honda Accord VTi-L (AT)',
 'Honda Accord VTi-L AT',
 'Honda Accord VTi-L MT',
 'Honda Amaze E i-Dtech',
 'Honda Amaze E i-Vtech',
 'Honda Amaze EX i-Dtech',
 'Honda Amaze EX i-Vtech',
 'Honda Amaze S AT i-Vtech',
 'Honda Amaze S Diesel',
 'Honda Amaze S Petrol',
 'Honda Amaze S i-DTEC',
 'Honda Amaze S i-Dtech',
 'Honda Amaze S i-VTEC',
 'Honda Amaze S i-Vtech',
 'Honda Amaze SX i-DTEC',
 'Honda Amaze SX i-VTEC',
 'Honda Amaze V CVT Petrol',
 'Honda Amaze V Petrol',
 'Honda Amaze VX AT i-Vtech',
 'Honda Amaze VX Diesel',
 'Honda Amaze VX O i VTEC',
 'Honda Amaze VX Petrol',
 'Honda Amaze VX i-DTEC',
 'Honda Amaze VX i-VTEC',
 'Honda Amaze VX i-Vtech',
 'Honda BR-V i-DTEC VX MT',
 'Honda BR-V i-VTEC S MT',
 'Honda BRV i-VTEC V CVT',
 'Honda BRV i-VTEC V MT',
 'Honda Brio 1.2 S MT',
 'Honda Brio 1.2 S Option MT',
 'Honda Brio 1.2 VX AT',
 'Honda Brio 1.2 VX MT',
 'Honda Brio E MT',
 'Honda Brio EX MT',
 'Honda Brio S MT',
 'Honda Brio S Option AT',
 'Honda Brio S Option MT',
 'Honda Brio V MT',
 'Honda Brio VX',
 'Honda Brio VX AT',
 'Honda CR-V 2.0 AT',
 'Honda CR-V 2.0L 2WD AT',
 'Honda CR-V 2.0L 2WD MT',
 'Honda CR-V 2.4 4WD AT',
 'Honda CR-V 2.4 AT',
 'Honda CR-V 2.4 MT',
 'Honda CR-V 2.4L 4WD AT',
 'Honda CR-V 2.4L 4WD AT AVN',
 'Honda CR-V 2.4L 4WD MT',
 'Honda CR-V AT With Sun Roof',
 'Honda CR-V Petrol 2WD',
 'Honda CR-V RVi MT',
 'Honda CR-V Sport',
 'Honda City 1.3 DX',
 'Honda City 1.3 EXI',
 'Honda City 1.3 EXI S',
 'Honda City 1.5 E MT',
 'Honda City 1.5 EXI',
 'Honda City 1.5 EXI AT',
 'Honda City 1.5 EXI S',
 'Honda City 1.5 GXI',
 'Honda City 1.5 S AT',
 'Honda City 1.5 S MT',
 'Honda City 1.5 V AT',
 'Honda City 1.5 V AT Exclusive',
 'Honda City 1.5 V AT Sunroof',
 'Honda City 1.5 V MT',
 'Honda City 1.5 V MT Exclusive',
 'Honda City 1.5 V MT Sunroof',
 'Honda City Corporate Edition',
 'Honda City V AT',
 'Honda City V MT',
 'Honda City V MT AVN',
 'Honda City V MT Exclusive',
 'Honda City ZX CVT',
 'Honda City ZX EXi',
 'Honda City ZX GXi',
 'Honda City ZX VTEC',
 'Honda City i DTEC S',
 'Honda City i DTEC SV',
 'Honda City i DTEC V',
 'Honda City i DTEC VX',
 'Honda City i DTEC VX Option',
 'Honda City i DTec E',
 'Honda City i DTec S',
 'Honda City i DTec SV',
 'Honda City i DTec V',
 'Honda City i DTec VX',
 'Honda City i VTEC CVT SV',
 'Honda City i VTEC CVT VX',
 'Honda City i VTEC E',
 'Honda City i VTEC S',
 'Honda City i VTEC SV',
 'Honda City i VTEC V',
 'Honda City i VTEC VX',
 'Honda City i VTEC VX Option',
 'Honda City i-DTEC SV',
 'Honda City i-DTEC ZX',
 'Honda City i-VTEC CVT V',
 'Honda City i-VTEC CVT VX',
 'Honda City i-VTEC CVT ZX',
 'Honda City i-VTEC S',
 'Honda City i-VTEC V',
 'Honda City i-VTEC VX',
 'Honda Civic 2006-2010 1.8 (E) MT',
 'Honda Civic 2006-2010 1.8 MT Sport',
 'Honda Civic 2006-2010 1.8 S AT',
 'Honda Civic 2006-2010 1.8 S MT',
 'Honda Civic 2006-2010 1.8 V AT',
 'Honda Civic 2006-2010 1.8 V MT',
 'Honda Civic 2010-2013 1.8 S MT',
 'Honda Civic 2010-2013 1.8 V AT Sunroof',
 'Honda Civic 2010-2013 1.8 V MT',
 'Honda Jazz 1.2 E i VTEC',
 'Honda Jazz 1.2 S i VTEC',
 'Honda Jazz 1.2 SV i VTEC',
 'Honda Jazz 1.2 V AT i VTEC Privilege',
 'Honda Jazz 1.2 V CVT i VTEC',
 'Honda Jazz 1.2 V i VTEC',
 'Honda Jazz 1.2 VX i VTEC',
 'Honda Jazz 1.5 S i DTEC',
 'Honda Jazz 1.5 SV i DTEC',
 'Honda Jazz 1.5 V i DTEC',
 'Honda Jazz 1.5 VX i DTEC',
 'Honda Jazz Active',
 'Honda Jazz Exclusive CVT',
 'Honda Jazz Mode',
 'Honda Jazz S',
 'Honda Jazz Select Edition',
 'Honda Jazz V',
 'Honda Jazz V CVT',
 'Honda Jazz VX',
 'Honda Jazz VX Diesel',
 'Honda Mobilio E i DTEC',
 'Honda Mobilio E i VTEC',
 'Honda Mobilio RS Option i DTEC',
 'Honda Mobilio RS i DTEC',
 'Honda Mobilio S i DTEC',
 'Honda Mobilio S i VTEC',
 'Honda Mobilio V Option i DTEC',
 'Honda Mobilio V i DTEC',
 'Honda WR-V Edge Edition i-VTEC S',
 'Honda WRV i-VTEC VX',
 'Hyundai Accent CRDi',
 'Hyundai Accent Executive',
 'Hyundai Accent Executive CNG',
 'Hyundai Accent GLE',
 'Hyundai Accent GLE 1',
 'Hyundai Accent GLS',
 'Hyundai Accent GLS 1.6',
 'Hyundai Creta 1.4 CRDi S',
 'Hyundai Creta 1.4 CRDi S Plus',
 'Hyundai Creta 1.4 E Plus Diesel',
 'Hyundai Creta 1.6 CRDi AT SX Plus',
 'Hyundai Creta 1.6 CRDi SX',
 'Hyundai Creta 1.6 CRDi SX Option',
 'Hyundai Creta 1.6 SX',
 'Hyundai Creta 1.6 SX Automatic Diesel',
 'Hyundai Creta 1.6 SX Option',
 'Hyundai Creta 1.6 SX Option Diesel',
 'Hyundai Creta 1.6 SX Option Executive',
 'Hyundai Creta 1.6 SX Plus Diesel',
 'Hyundai Creta 1.6 SX Plus Dual Tone Petrol',
 'Hyundai Creta 1.6 SX Plus Petrol Automatic',
 'Hyundai Creta 1.6 VTVT E Plus',
 'Hyundai Creta 1.6 VTVT S',
 'Hyundai EON 1.0 Kappa Magna Plus Optional',
 'Hyundai EON 1.0 Magna Plus Option O',
 'Hyundai EON D Lite',
 'Hyundai EON D Lite Plus',
 'Hyundai EON D Lite Plus Option',
 'Hyundai EON Era',
 'Hyundai EON Era Plus',
 'Hyundai EON LPG Era Plus Option',
 'Hyundai EON Magna',
 'Hyundai EON Magna Plus',
 'Hyundai EON Sportz',
 'Hyundai Elantra 1.6 SX',
 'Hyundai Elantra 1.6 SX Option AT',
 'Hyundai Elantra 2.0 SX Option AT',
 'Hyundai Elantra CRDi',
 'Hyundai Elantra CRDi S',
 'Hyundai Elantra CRDi SX',
 'Hyundai Elantra CRDi SX AT',
 'Hyundai Elantra SX',
 'Hyundai Elite i20 Asta Option',
 'Hyundai Elite i20 Diesel Asta Option',
 'Hyundai Elite i20 Petrol Asta',
 'Hyundai Elite i20 Petrol Sportz',
 'Hyundai Elite i20 Sportz Plus',
 'Hyundai Getz 1.3 GLS',
 'Hyundai Getz 1.5 CRDi GVS',
 'Hyundai Getz GLE',
 'Hyundai Getz GLS',
 'Hyundai Getz GLS ABS',
 'Hyundai Getz GVS',
 'Hyundai Grand i10 1.2 CRDi Asta',
 'Hyundai Grand i10 1.2 CRDi Magna',
 'Hyundai Grand i10 1.2 CRDi Sportz',
 'Hyundai Grand i10 1.2 CRDi Sportz Option',
 'Hyundai Grand i10 1.2 Kappa Asta',
 'Hyundai Grand i10 1.2 Kappa Magna',
 'Hyundai Grand i10 1.2 Kappa Magna AT',
 'Hyundai Grand i10 1.2 Kappa Sportz',
 'Hyundai Grand i10 1.2 Kappa Sportz AT',
 'Hyundai Grand i10 1.2 Kappa Sportz Option',
 'Hyundai Grand i10 AT Asta',
 'Hyundai Grand i10 Asta',
 'Hyundai Grand i10 Asta Option',
 'Hyundai Grand i10 Asta Option AT',
 'Hyundai Grand i10 CRDi Asta',
 'Hyundai Grand i10 CRDi Era',
 'Hyundai Grand i10 CRDi Magna',
 'Hyundai Grand i10 CRDi SportZ Edition',
 'Hyundai Grand i10 CRDi Sportz',
 'Hyundai Grand i10 CRDi Sportz Celebration Edition',
 'Hyundai Grand i10 Era',
 'Hyundai Grand i10 Magna',
 'Hyundai Grand i10 Magna AT',
 'Hyundai Grand i10 SportZ Edition',
 'Hyundai Grand i10 Sportz',
 'Hyundai Santa Fe 2WD AT',
 'Hyundai Santa Fe 4WD AT',
 'Hyundai Santa Fe 4X2',
 'Hyundai Santa Fe 4X4',
 'Hyundai Santa Fe 4x4 AT',
 'Hyundai Santro AT',
 'Hyundai Santro D Lite',
 'Hyundai Santro DX',
 'Hyundai Santro GLS I - Euro I',
 'Hyundai Santro GLS I - Euro II',
 'Hyundai Santro GLS II - Euro II',
 'Hyundai Santro GS',
 'Hyundai Santro GS zipDrive - Euro II',
 'Hyundai Santro LP - Euro II',
 'Hyundai Santro LP zipPlus',
 'Hyundai Santro LS zipPlus',
 'Hyundai Santro Xing GL',
 'Hyundai Santro Xing GL Plus',
 'Hyundai Santro Xing GL Plus LPG',
 'Hyundai Santro Xing GLS',
 'Hyundai Santro Xing GLS LPG',
 'Hyundai Santro Xing XG',
 'Hyundai Santro Xing XG eRLX Euro III',
 'Hyundai Santro Xing XL',
 'Hyundai Santro Xing XL AT eRLX Euro II',
 'Hyundai Santro Xing XL AT eRLX Euro III',
 'Hyundai Santro Xing XL eRLX Euro III',
 'Hyundai Santro Xing XO',
 'Hyundai Santro Xing XO CNG',
 'Hyundai Santro Xing XO eRLX Euro II',
 'Hyundai Santro Xing XP',
 'Hyundai Sonata 2.4 GDI',
 'Hyundai Sonata Embera 2.0L CRDi AT',
 'Hyundai Sonata Embera 2.0L CRDi MT',
 'Hyundai Sonata GOLD',
 'Hyundai Sonata Transform 2.4 GDi AT',
 'Hyundai Sonata Transform 2.4 GDi MT',
 'Hyundai Tucson 2.0 Dual VTVT 2WD AT GL',
 'Hyundai Tucson 2.0 e-VGT 2WD AT GLS',
 'Hyundai Tucson CRDi',
 'Hyundai Verna 1.4 CRDi',
 'Hyundai Verna 1.4 CRDi GL',
 'Hyundai Verna 1.4 CX VTVT',
 'Hyundai Verna 1.4 EX',
 'Hyundai Verna 1.4 VTVT',
 'Hyundai Verna 1.6 CRDI',
 'Hyundai Verna 1.6 CRDI AT SX Option',
 'Hyundai Verna 1.6 CRDI SX Option',
 'Hyundai Verna 1.6 CRDi AT S',
 'Hyundai Verna 1.6 CRDi AT SX',
 'Hyundai Verna 1.6 CRDi EX AT',
 'Hyundai Verna 1.6 CRDi EX MT',
 'Hyundai Verna 1.6 CRDi S',
 'Hyundai Verna 1.6 CRDi SX',
 'Hyundai Verna 1.6 EX VTVT',
 'Hyundai Verna 1.6 SX',
 'Hyundai Verna 1.6 SX CRDI (O) AT',
 'Hyundai Verna 1.6 SX CRDi (O)',
 'Hyundai Verna 1.6 SX VTVT',
 'Hyundai Verna 1.6 SX VTVT (O)',

In [11]:
# Colonne Year
print('Colonne Year : \n')
print('Doublons : ', data['Year'].duplicated().sum())

print('AnnÃ©es triÃ©es par nombre de fois d apparition : ', data['Year'].value_counts(), '\n')

print("min: ", data['Year'].min(),"\nmax: ",data['Year'].max())

Colonne Year :

Doublons :  5997
AnnÃ©es triÃ©es par nombre de fois d apparition :  Year
2014    797
2015    744
2016    741
2013    649
2017    587
2012    580
2011    466
2010    342
2018    298
2009    198
2008    174
2007    125
2019    102
2006     78
2005     57
2004     31
2003     17
2002     15
2001      8
2000      4
1998      4
1999      2
Name: count, dtype: int64

min:  1998
max:  2019

- Les annÃ©es sont comprises entre 1998 et 2019

In [13]:
# Colonne Localisation
print('Colonne Localisation : \n')
print('Doublons : ', data['Location'].duplicated().sum())

print('Type de carburant triÃ©s par nombre de fois d apparition : ', data['Location'].value_counts().sort_values(), '\n')

Colonne Localisation :

Doublons :  6008
Type de carburant triÃ©s par nombre de fois d apparition :  Location
Ahmedabad     224
Bangalore     358
Jaipur        413
Chennai       494
Kolkata       535
Delhi         554
Pune          622
Coimbatore    636
Kochi         651
Hyderabad     742
Mumbai        790
Name: count, dtype: int64

- type catÃ©goriel : a voir les corrÃ©lations

In [14]:
# Colonne Type fuel
print('Colonne Fuel_Type : \n')
print('Doublons : ', data['Fuel_Type'].duplicated().sum())

print('Type de carburant triÃ©s par nombre de fois d apparition : ', data['Fuel_Type'].value_counts().sort_values(), '\n')

Colonne Fuel_Type :

Doublons :  6014
Type de carburant triÃ©s par nombre de fois d apparition :  Fuel_Type
Electric       2
LPG           10
CNG           56
Petrol      2746
Diesel      3205
Name: count, dtype: int64

- type catÃ©goriel : 5 types diffÃ©rents de carburants (pour l'application on pourra faire une liste dÃ©roulante)

In [15]:
# Colonne Transmission
print('Colonne Transmission : \n')
print('Doublons : ', data['Transmission'].duplicated().sum())

print('Transmission triÃ©es par nombre de fois d apparition : ', data['Transmission'].value_counts().sort_values(), '\n')

Colonne Transmission :

Doublons :  6017
Transmission triÃ©es par nombre de fois d apparition :  Transmission
Automatic    1720
Manual       4299
Name: count, dtype: int64

- type catÃ©goriel : 2 types de transmissions possible

In [ ]:
# Colonne Owner_Type
print('Colonne Owner_Type : \n')
print('Doublons : ', data['Owner_Type'].duplicated().sum())

print('Owner_Type triÃ©es par nombre de fois d apparition : ', data['Owner_Type'].value_counts().sort_values(), '\n')

Colonne Owner_Type :

Doublons :  6015
Owner_Type triÃ©es par nombre de fois d apparition :  Owner_Type
Fourth & Above       9
Third              113
Second             968
First             4929
Name: count, dtype: int64

- type catÃ©goriel : 4 catÃ©gories possibles

In [16]:
# Colonne Mileage
print('Colonne Mileage : \n')
print('Doublons : ', data['Mileage'].duplicated().sum())

data[['nb_mileage', 'type_mileage']] = data['Mileage'].str.rsplit(' ', n=1, expand=True)
data

Colonne Mileage :

Doublons :  5576

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,nb_mileage,type_mileage
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.6,km/kg
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.2,kmpl
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.2,kmpl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,28.4,kmpl
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00,24.4,kmpl
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90,14.0,kmpl
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65,18.9,kmpl
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50,25.44,kmpl

In [18]:

data[['marque', 'modele']] = data['Name'].str.split(' ', n=1, expand=True)
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,nb_mileage,type_mileage,marque,modele
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.6,km/kg,Maruti,Wagon R LXI CNG
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl,Hyundai,Creta 1.6 CRDi SX Option
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.2,kmpl,Honda,Jazz V
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl,Maruti,Ertiga VDI
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.2,kmpl,Audi,A4 New 2.0 TDI Multitronic

In [ ]:
data[['nb_power', 'type_power']] = data['Power'].str.rsplit(' ', n=1, expand=True)
data['type_power'].value_counts()

type_power
bhp    5983
Name: count, dtype: int64

- il n'y a qu'un seul type de puissance donc nous n'avons pas besoin de ces 2 nouvelles colonnes

In [ ]:
data.drop(['nb_power', 'type_power'], axis=1, inplace=True)
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,nb_mileage,type_mileage,marque,modele
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.6,km/kg,Maruti,Wagon R LXI CNG
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl,Hyundai,Creta 1.6 CRDi SX Option
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.2,kmpl,Honda,Jazz V
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl,Maruti,Ertiga VDI
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.2,kmpl,Audi,A4 New 2.0 TDI Multitronic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,28.4,kmpl,Maruti,Swift VDI
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00,24.4,kmpl,Hyundai,Xcent 1.1 CRDi S
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90,14.0,kmpl,Mahindra,Xylo D4 BSIV
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65,18.9,kmpl,Maruti,Wagon R VXI
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50,25.44,kmpl,Chevrolet,Beat Diesel

In [ ]:
data[['nb_engine', 'type_engine']] = data['Engine'].str.rsplit(' ', n=1, expand=True)
data['type_engine'].value_counts()

type_engine
CC    5983
Name: count, dtype: int64

- il n'y a qu'un seul type de engine donc nous n'avons pas besoin de ces 2 nouvelles colonnes

In [ ]:
data.drop(['nb_engine', 'type_engine'], axis=1, inplace=True)
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,nb_mileage,type_mileage,marque,modele
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.6,km/kg,Maruti,Wagon R LXI CNG
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl,Hyundai,Creta 1.6 CRDi SX Option
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.2,kmpl,Honda,Jazz V
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl,Maruti,Ertiga VDI
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.2,kmpl,Audi,A4 New 2.0 TDI Multitronic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,28.4,kmpl,Maruti,Swift VDI
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00,24.4,kmpl,Hyundai,Xcent 1.1 CRDi S
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90,14.0,kmpl,Mahindra,Xylo D4 BSIV
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65,18.9,kmpl,Maruti,Wagon R VXI
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50,25.44,kmpl,Chevrolet,Beat Diesel

In [ ]:
data['marque'].str.upper().value_counts().sort_values()

marque
SMART               1
AMBASSADOR          1
LAMBORGHINI         1
BENTLEY             1
FORCE               3
ISUZU               3
DATSUN             13
JEEP               15
PORSCHE            18
VOLVO              21
MINI               26
MITSUBISHI         27
FIAT               28
JAGUAR             40
LAND               60
NISSAN             91
CHEVROLET         121
RENAULT           145
SKODA             173
TATA              186
AUDI              236
BMW               267
MAHINDRA          272
FORD              300
VOLKSWAGEN        315
MERCEDES-BENZ     318
TOYOTA            411
HONDA             608
HYUNDAI          1107
MARUTI           1211
Name: count, dtype: int64

In [ ]:
data['modele'].str.upper().sort_values().value_counts()

modele
SWIFT DZIRE VDI      50
XUV500 W8 2WD        49
SWIFT VDI            45
CITY 1.5 S MT        34
SWIFT VDI BSIV       31
                     ..
XYLO D2 BSIV          1
XYLO D2 MAXX          1
XYLO D4 BSIV          1
XUV300 W8 DIESEL      1
XUV500 AT W10 AWD     1
Name: count, Length: 1852, dtype: int64

In [ ]:
data['modele'].value_counts()

modele
XUV500 W8 2WD                   49
Swift VDI                       45
Swift Dzire VDI                 34
City 1.5 S MT                   34
Swift VDI BSIV                  31
                                ..
New Safari EX 4x2                1
Terrano XL Plus ICC WT20 SE      1
Brio 1.2 S Option MT             1
Vento Konekt Diesel Highline     1
Gallardo Coupe                   1
Name: count, Length: 1876, dtype: int64

- on rÃ©flÃ©chi Ã  l'encodage qui peut Ãªtre compliquÃ© sur le nombre de modÃ¨les diffÃ©rents... Ã  rÃ©flÃ©chir si on garde la colonne ou pas

In [ ]:
data.groupby('Fuel_Type')['type_mileage'].value_counts()

Fuel_Type  type_mileage
CNG        km/kg             56
Diesel     kmpl            3205
LPG        km/kg             10
Petrol     kmpl            2746
Name: count, dtype: int64

- le type de mileage dÃ©pend du type de carburant, si c'est un carburant gaz = km/kg, si c'est un carburant de type 'essence' alors c'est en kmpl

In [ ]:
data[data['Fuel_Type'] == 'Electric']

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,nb_mileage,type_mileage,marque,modele
4446,Mahindra E Verito D4,Chennai,2016,50000,Electric,Automatic,First,NaN,72 CC,41 bhp,5.0,13.58 Lakh,13.00,NaN,NaN,Mahindra,E Verito D4
4904,Toyota Prius 2009-2016 Z4,Mumbai,2011,44000,Electric,Automatic,First,NaN,1798 CC,73 bhp,5.0,NaN,12.75,NaN,NaN,Toyota,Prius 2009-2016 Z4

- il n'y a que 2 lignes pour l'entrainement sur le type de type_fuel = 'electric' alors nous avons pris la dÃ©cison de supprimer ces lignes car elles se seront pas assez reprÃ©sentative pour le modÃ¨le

In [106]:
dftest = pd.read_csv('test.csv')
dftest[dftest['Fuel_Type'] == 'Electric']

Empty DataFrame
Columns: [Name, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Seats, New_Price]
Index: []

- il n'y a pas de lignes de test de vÃ©hicule de type electric. Ce qui nous conforte dans notre choix.

In [ ]:
data.drop(['Name', 'New_Price', 'Mileage', 'type_mileage'], axis=1, inplace=True)
data

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Engine,Power,Seats,Price,nb_mileage,marque,modele
0,Mumbai,2010,72000,CNG,Manual,First,998 CC,58.16 bhp,5.0,1.75,26.6,Maruti,Wagon R LXI CNG
1,Pune,2015,41000,Diesel,Manual,First,1582 CC,126.2 bhp,5.0,12.50,19.67,Hyundai,Creta 1.6 CRDi SX Option
2,Chennai,2011,46000,Petrol,Manual,First,1199 CC,88.7 bhp,5.0,4.50,18.2,Honda,Jazz V
3,Chennai,2012,87000,Diesel,Manual,First,1248 CC,88.76 bhp,7.0,6.00,20.77,Maruti,Ertiga VDI
4,Coimbatore,2013,40670,Diesel,Automatic,Second,1968 CC,140.8 bhp,5.0,17.74,15.2,Audi,A4 New 2.0 TDI Multitronic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Delhi,2014,27365,Diesel,Manual,First,1248 CC,74 bhp,5.0,4.75,28.4,Maruti,Swift VDI
6015,Jaipur,2015,100000,Diesel,Manual,First,1120 CC,71 bhp,5.0,4.00,24.4,Hyundai,Xcent 1.1 CRDi S
6016,Jaipur,2012,55000,Diesel,Manual,Second,2498 CC,112 bhp,8.0,2.90,14.0,Mahindra,Xylo D4 BSIV
6017,Kolkata,2013,46000,Petrol,Manual,First,998 CC,67.1 bhp,5.0,2.65,18.9,Maruti,Wagon R VXI
6018,Hyderabad,2011,47000,Diesel,Manual,First,936 CC,57.6 bhp,5.0,2.50,25.44,Chevrolet,Beat Diesel

- On supprime les colonnes qui ne nous servent plus

- OrdinalEncoder !

In [ ]:
data['Engine'] = data['Engine'].str.replace("CC", "")
data['Power'] = data['Power'].str.replace("bhp", "")
data.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Engine,Power,Seats,Price,nb_mileage,marque,modele
0,Mumbai,2010,72000,CNG,Manual,First,998,58.16,5.0,1.75,26.6,Maruti,Wagon R LXI CNG
1,Pune,2015,41000,Diesel,Manual,First,1582,126.2,5.0,12.50,19.67,Hyundai,Creta 1.6 CRDi SX Option
2,Chennai,2011,46000,Petrol,Manual,First,1199,88.7,5.0,4.50,18.2,Honda,Jazz V
3,Chennai,2012,87000,Diesel,Manual,First,1248,88.76,7.0,6.00,20.77,Maruti,Ertiga VDI
4,Coimbatore,2013,40670,Diesel,Automatic,Second,1968,140.8,5.0,17.74,15.2,Audi,A4 New 2.0 TDI Multitronic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Delhi,2014,27365,Diesel,Manual,First,1248,74,5.0,4.75,28.4,Maruti,Swift VDI
6015,Jaipur,2015,100000,Diesel,Manual,First,1120,71,5.0,4.00,24.4,Hyundai,Xcent 1.1 CRDi S
6016,Jaipur,2012,55000,Diesel,Manual,Second,2498,112,8.0,2.90,14.0,Mahindra,Xylo D4 BSIV
6017,Kolkata,2013,46000,Petrol,Manual,First,998,67.1,5.0,2.65,18.9,Maruti,Wagon R VXI
6018,Hyderabad,2011,47000,Diesel,Manual,First,936,57.6,5.0,2.50,25.44,Chevrolet,Beat Diesel

- on a supprimÃ© le texte des colonnes Engine et Power pour ne garder que les donnÃ©es numÃ©riques

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           6019 non-null   object
 1   Year               6019 non-null   int64
 2   Kilometers_Driven  6019 non-null   int64
 3   Fuel_Type          6019 non-null   object
 4   Transmission       6019 non-null   object
 5   Owner_Type         6019 non-null   object
 6   Engine             5983 non-null   object
 7   Power              5983 non-null   object
 8   Seats              5977 non-null   float64
 9   Price              6019 non-null   float64
 10  nb_mileage         6017 non-null   object
 11  marque             6019 non-null   object
 12  modele             6019 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 611.4+ KB